$hero-gray: #D5D5D5;
// $hero-gray: #eee;
* {cursor: none;}

@font-face {
  font-family: 'apercu-regular';
  src: url('font/apercu-regular.woff') format('woff');
}

@font-face {
  font-family: 'larish-regular';
  src: url('font/larish-regular.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Vesper+Libre:500');

@font-face {
  font-family: 'portrait-light';
  src: url('font/portrait-light.woff') format('woff');
}

@font-face {
  font-family: 'portrait-medium';
  src: url('font/portrait-medium.woff') format('woff');
}

@font-face {
  font-family: 'bluunext-bold-webfont';
  src: url('font/bluunext-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'moderat';
  src: url('font/moderat.woff') format('woff');
}

@font-face {
  font-family: 'portrait-regular';
  src: url('font/portrait-regular.woff') format('woff');
}

@font-face {
  font-family: 'plex-regular';
  src: url('font/plex-regular.woff') format('woff');
}

@font-face {
  font-family: 'plex-medium';
  src: url('font/plex-medium.woff') format('woff');
}

@mixin flex($x : center, $y: center) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin mobile {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin break($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

.bluedot {
  pointer-events: none;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 999px;
  background: #0041F8;
  // mix-blend-mode: multiply;
}

.link {  
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: .3s ease;

  // increase clickable area for cursor
  &:before {
    content: '';
    // background: #eee;
    // mix-blend-mode: multiply;
    position: absolute;
    top: -100%;
    left: -30%;
    width: 160%;
    height: 290%;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    margin-top: 5px;
    background: #000;
    transition: width .3s;
  }

  &:hover:after {
    width: 100%;
  }

  // &:hover {
  //   color: rgba(0, 0, 0, 0);
  // }
}

.scroll-hint {
  position: fixed;
  bottom: 4vw;
  // right: 5vw;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 18px;
  // color: #0041F8;
  // color: #000;
  color: #0041F8;
  // -webkit-font-smoothing: antialiased;

  .arrow {
    // font-size: 18px;
    position: absolute;
    top: 0;
    // left: 50%;
    // transform: translate(-50%, 0);
    right: -20px;
    // animation-timing-function: 'cubic-bezier(0.860, 0.000, 0.070, 1.000)';
    animation: upDown 1s ease infinite;
  }
  
  @keyframes upDown {
    0%, 100% { top: -3px; }
    50% { top: 3px; }
  }
}

body {
  // background-color: #F7E8D7;
  transition: background 800ms ease;
  font-family: 'apercu-regular', 'helvetica', sans-serif;
}

.fp-viewing-cinefile,
.fp-viewing-polytone,
.fp-viewing-css-studies {
  background: $hero-gray;
}

header, footer {
  @include flex(space-between);
  position: fixed;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 16vh;
  padding: 0 6vw;
}

header {
  top: 0;
  left: 0;

  color: #0041F8;
}

.section {
  @include flex;

  h5 {
    font-family: 'larish-regular';
    // font-family: 'plex-medium';
    // font-family: 'portrait-medium';
    // font-family: 'portrait-regular';
    // font-family: 'bluunext-bold-webfont';
    // font-family: 'vesper libre';
    display: none;
    color: #fff;
    // color: #eee;
    // font-size: 23vw;
    // font-size: 20vw;
    // font-size: 16vw;
    font-size: 18vw;
    font-weight: normal;
    //moderat padding
    // padding-bottom: 30px;
    // letter-spacing: 1.5vw;
    // color: rgba(0, 0, 0, 0);
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: #000;
  }
}

.iphone-wrapper {
  @include absolute-center;


  img {
    height: 65vh;
    position: relative;
  }

  .iphone-content {
    // @include flex;
    position: absolute;
    top: 12.3%;
    left: 7.1%;
    width: 86%;
    height: 74.8%;
    object-fit: cover;
    // background: #eee;

    .folio-iphone {
      width: 100%;
      height: 100%;
      // z-index: 999;
    }
  }
}

// h4 {
//   color: white;
// }

.hero {
  // display: none;
  width: 80%;
  // color: white;
  // margin-left: 9vw;
  // text-align: center;
  // background: #eee;
  // moderat padding
  // transform: translate(-100px);
  padding-bottom: 30px;
  cursor: default;

  .location {
    position: absolute;
    right: 200px;
    top: 600px;
    font-size: 14px;

    .based {
      position: absolute;
      left: -100px;
    }
  }

  h1 {
    // font-size: 5.5vw;
    font-family: 'larish-regular';
    // font-family: 'plex-regular';
    // font-family: 'plex-medium';
    // font-family: 'portrait-light';
    // font-family: 'portrait-regular';
    // font-family: 'portrait-medium';
    // font-family: 'bluunext-bold-webfont';
    // font-family: 'vesper libre';
    // font-family: 'moderat';
    
    //portrait
    // font-size: 14vw;
    // line-height: 30vh;

    font-size: 10vw;
    line-height: 13vw;

    // moderat - large
    // font-size: 12vw;
    // line-height: 23vh;

    // portrait - smaller
    // font-size: 8vw;
    // line-height: 15vh;
    // font-size: 100px;
    // line-height: 15vh;

    // portrait - block
    // font-size: 9vw;
    // line-height: 18vh;

    // font-size: 105px;
    // line-height: 14vh;


    // text-align: center;
    // text-align-last: justify;

    // color: rgba(0, 0, 0, 0);
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: black;
  }

  @include mobile {
    width: 100%;
    padding: 0 4vw 0 4vw;
  }
}

footer {
  @include flex(flex-end);
  bottom: 0px;

  .view-project {
    opacity: 0;
    transition: .6s ease;
    color: gray;
    font-size: 16px;

    &.show {
      opacity: 1;
    }
  }
}

.blackbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #000;
}

// #fp-nav {
//   display: none;
// }