@import url("https://fonts.googleapis.com/css?family=Vesper+Libre:500");
::-moz-selection {
  background: #0041F8;
  text-shadow: none;
  color: #FFF; }
::selection {
  background: #0041F8;
  text-shadow: none;
  color: #FFF; }

* {
  cursor: url("/assets/blue-cursor.png") 8 8, auto;
  cursor: -webkit-image-set(url("/assets/blue-cursor.png") 1x, url("/assets/blue-cursor2.png") 2x) 8 8, auto;
  cursor: image-set(url("/assets/blue-cursor.png") 1x, url("/assets/blue-cursor2.png") 2x) 8 8, auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* ::-webkit-scrollbar {
  display: none; }

a {
  cursor: url("/assets/blue-cursor-click.png") 25 25, auto;
  cursor: -webkit-image-set(url("/assets/blue-cursor-click.png") 1x, url("/assets/blue-cursor-click2.png") 2x) 25 25, auto;
  cursor: image-set(url("/assets/blue-cursor-click.png") 1x, url("/assets/blue-cursor-click2.png") 2x) 25 25, auto; }

@font-face {
  font-family: 'apercu-regular';
  src: url("font/apercu-regular.woff") format("woff"); }

@font-face {
  font-family: 'apercu-light';
  src: url("font/apercu-light.woff") format("woff"); }

@font-face {
  font-family: 'larish-regular';
  src: url("font/larish-regular.woff") format("woff"); }

@font-face {
  font-family: 'portrait-light';
  src: url("font/portrait-light.woff") format("woff"); }

@font-face {
  font-family: 'portrait-medium';
  src: url("font/portrait-medium.woff") format("woff"); }

@font-face {
  font-family: 'bluunext-bold-webfont';
  src: url("font/bluunext-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: 'moderat';
  src: url("font/moderat.woff") format("woff"); }

@font-face {
  font-family: 'portrait-regular';
  src: url("font/portrait-regular.woff") format("woff"); }

@font-face {
  font-family: 'plex-regular';
  src: url("font/plex-regular.woff") format("woff"); }

@font-face {
  font-family: 'plex-medium';
  src: url("font/plex-medium.woff") format("woff"); }

body {
  font-family: 'apercu-light', 'helvetica', sans-serif;
  margin-top: 2vh; }

h1, h2 {
  font-family: 'portrait-medium', sans-serif; }

.bluedot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 999px;
  background: #0041F8;
  color: #fff;
  font-size: 16px;
  z-index: 999; }
  .bluedot span {
    position: absolute;
    display: none; }

.link {
  text-decoration: none;
  color: inherit;
  position: relative;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .link:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -30%;
    width: 160%;
    height: 290%; }
  .link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    margin-top: 5px;
    background: #000;
    -webkit-transition: width .3s;
    transition: width .3s; }
  .link:hover:after {
    width: 100%; }

.about-section,
.projects-section,
.github-section,
.connect-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eee;
  position: relative;
  overflow: hidden;
  pointer-events: none; }
  .about-section .pull-bg,
  .projects-section .pull-bg,
  .github-section .pull-bg,
  .connect-section .pull-bg {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    margin: 0;
    background: #000;
    -webkit-transform-origin: center;
            transform-origin: center; }
  .about-section .content,
  .projects-section .content,
  .github-section .content,
  .connect-section .content {
    margin: 9vh 4vh;
    width: 1000px;
    text-align: center;
    z-index: 2;
    -webkit-transform: translateY(490px);
            transform: translateY(490px); }
  .about-section h4,
  .projects-section h4,
  .github-section h4,
  .connect-section h4 {
    opacity: 0;
    position: relative;
    display: inline-block;
    margin-bottom: 4vh; }
    .about-section h4 .underline,
    .projects-section h4 .underline,
    .github-section h4 .underline,
    .connect-section h4 .underline {
      position: absolute;
      width: 100%;
      -webkit-transform-origin: left;
              transform-origin: left;
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      bottom: -10px;
      left: 0;
      height: 1px;
      background: #fff; }

@-webkit-keyframes colorchange {
  0% {
    background: #E7CF84; }
  40% {
    background: #2968A7; }
  80% {
    background: #DFB6B9; }
  100% {
    background: #87C3BC; } }

@keyframes colorchange {
  0% {
    background: #E7CF84; }
  40% {
    background: #2968A7; }
  80% {
    background: #DFB6B9; }
  100% {
    background: #87C3BC; } }

.projects-section .pull-bg {
  background: #E7CF84;
  border-bottom: none;
  -webkit-animation: colorchange 50s;
          animation: colorchange 50s; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 16vh;
  padding: 0 6vw; }
  header .external-links > a {
    display: inline-block; }
    header .external-links > a:nth-child(1) {
      margin-right: 6vw; }

.project-info {
  padding: 0 6vw;
  padding-top: 20vh; }
  .project-info h2 {
    margin-top: 4.5vh; }
  .project-info .hashtags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10vh;
    max-width: 530px;
    line-height: 37px;
    font-size: 20px;
    color: #A2A2A2; }
    .project-info .hashtags ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block; }

.project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 6vw;
  margin-top: 10vh; }
  .project-content .full {
    width: 100%;
    margin: 2vw 0;
    background: #eee; }
    .project-content .full img {
      display: block;
      width: 100%; }
  .project-content .half {
    width: calc(50% - 2vw);
    background: #eee;
    height: 500px;
    margin: 2vw 0; }
    @media only screen and (max-width: 768px) {
      .project-content .half {
        width: 100%;
        height: 100%; } }

.next-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6vw;
  margin: 12vh 0 6vh 0; }
  .next-project .content {
    width: 600px; }
  .next-project p {
    font-size: 48px;
    line-height: 69px;
    margin-top: 25px;
    margin-bottom: 0; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #A8A8A8;
  padding: 40px 6vw; }

.blackbox,
.project-blackbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #000; }

.load-project {
  z-index: 999;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff; }
  .load-project h1 {
    font-size: 10vw; }
