@import url("https://fonts.googleapis.com/css?family=Vesper+Libre:500");
@font-face {
  font-family: 'apercu-regular';
  src: url("font/apercu-regular.woff") format("woff"); }

@font-face {
  font-family: 'larish-regular';
  src: url("font/larish-regular.woff") format("woff"); }

@font-face {
  font-family: 'portrait-light';
  src: url("font/portrait-light.woff") format("woff"); }

@font-face {
  font-family: 'portrait-medium';
  src: url("font/portrait-medium.woff") format("woff"); }

@font-face {
  font-family: 'bluunext-bold-webfont';
  src: url("font/bluunext-bold-webfont.woff") format("woff"); }

@font-face {
  font-family: 'moderat';
  src: url("font/moderat.woff") format("woff"); }

@font-face {
  font-family: 'portrait-regular';
  src: url("font/portrait-regular.woff") format("woff"); }

@font-face {
  font-family: 'plex-regular';
  src: url("font/plex-regular.woff") format("woff"); }

@font-face {
  font-family: 'plex-medium';
  src: url("font/plex-medium.woff") format("woff"); }

.bluedot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 999px;
  background: #0041F8;
  color: #fff;
  font-size: 14px; }
  .bluedot span {
    position: absolute;
    display: none; }

.link {
  text-decoration: none;
  color: inherit;
  position: relative;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .link:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -30%;
    width: 160%;
    height: 290%; }
  .link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    margin-top: 5px;
    background: #000;
    -webkit-transition: width .3s;
    transition: width .3s; }
  .link:hover:after {
    width: 100%; }

.scroll-hint {
  position: fixed;
  bottom: 4vw;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 18px;
  color: #000; }
  .scroll-hint .arrow {
    position: absolute;
    top: 0;
    right: -20px;
    -webkit-animation: upDown 1s ease infinite;
            animation: upDown 1s ease infinite; }

@-webkit-keyframes upDown {
  0%, 100% {
    top: -3px; }
  50% {
    top: 3px; } }

@keyframes upDown {
  0%, 100% {
    top: -3px; }
  50% {
    top: 3px; } }

body {
  -webkit-transition: background 800ms ease;
  transition: background 800ms ease;
  font-family: 'apercu-regular', 'helvetica', sans-serif; }

.fp-viewing-cinefile,
.fp-viewing-polytone,
.fp-viewing-css-studies {
  background: #D5D5D5; }

header, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 16vh;
  padding: 0 6vw; }

.project-info {
  padding: 0 6vw;
  padding-top: 20vh; }
  .project-info .external-links > a {
    display: inline-block; }
    .project-info .external-links > a:nth-child(1) {
      margin-right: 75px; }
  .project-info .description {
    font-family: 'larish-regular', sans-serif;
    margin-top: 4.5vh;
    font-size: 48px;
    line-height: 69px; }
  .project-info .hashtags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10vh;
    max-width: 530px;
    line-height: 37px;
    font-size: 20px;
    color: #A2A2A2; }
    .project-info .hashtags ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block; }

.project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 6vw;
  margin-top: 10vh; }
  .project-content .full {
    width: 100%;
    margin: 2vw 0;
    background: #eee; }
    .project-content .full img {
      display: block;
      width: 100%; }
  .project-content .half {
    width: calc(50% - 2vw);
    background: #eee;
    height: 800px;
    margin: 2vw 0; }
    @media only screen and (max-width: 768px) {
      .project-content .half {
        width: 100%;
        height: 100%; } }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .section h5 {
    font-family: 'larish-regular';
    display: none;
    color: #fff;
    font-size: 18vw;
    font-weight: normal; }

.iphone-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .iphone-wrapper img {
    height: 600px;
    position: relative; }
  .iphone-wrapper .iphone-content {
    position: absolute;
    top: 12.3%;
    left: 7.1%;
    width: 86%;
    height: 74.8%;
    -o-object-fit: cover;
       object-fit: cover; }
    .iphone-wrapper .iphone-content .folio-iphone {
      width: 100%; }

.macbook-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .macbook-wrapper img {
    width: 45vw;
    position: relative; }
  .macbook-wrapper .macbook-content {
    position: absolute;
    top: 7%;
    left: 12.4%;
    width: 75.2%;
    height: 80%;
    -o-object-fit: cover;
       object-fit: cover;
    background: #eee; }
    .macbook-wrapper .macbook-content .folio-macbook {
      width: 100%; }

.hero {
  width: 80%;
  padding-bottom: 30px;
  cursor: default; }
  .hero .location {
    position: absolute;
    right: 200px;
    top: 600px;
    font-size: 14px; }
    .hero .location .based {
      position: absolute;
      left: -100px; }
  .hero h1 {
    font-family: 'larish-regular';
    font-size: 11vw;
    line-height: 14vw; }
  @media only screen and (max-width: 768px) {
    .hero {
      width: 100%;
      padding: 0 4vw 0 4vw; } }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0px; }
  footer .view-project {
    opacity: 0;
    -webkit-transition: .6s ease;
    transition: .6s ease;
    color: #000;
    font-size: 20px; }
    footer .view-project.show {
      opacity: 1; }

.blackbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #000; }
