@font-face {
  font-family: 'apercu-regular';
  src: url("font/apercu-regular.woff") format("woff"); }

html {
  cursor: url("bluedot.svg"), auto;
  cursor: -webkit-image-set(url("bluedot.svg") 1x, url("bluedot.svg") 2x), auto; }

body {
  -webkit-transition: background 400ms ease;
  transition: background 400ms ease;
  font-family: 'apercu-regular', 'helvetica', sans-serif; }

.fp-viewing-cinefile,
.fp-viewing-polytone,
.fp-viewing-css-studies {
  background: #D5D5D5; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 3vw 4vw; }
  header ul {
    list-style: none; }
  header li {
    display: inline-block; }
    header li a {
      display: inline-block;
      position: relative;
      padding: 2em;
      margin: -2em;
      text-decoration: none;
      color: inherit;
      cursor: url("bluedot.svg"), auto;
      cursor: -webkit-image-set(url("bluedot.svg") 1x, url("bluedot.svg") 2x), auto; }
    header li:first-child {
      padding-right: 6vw; }
    header li:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      margin-top: 3px;
      background: #000;
      -webkit-transition: width 0.3s;
      transition: width 0.3s; }
    header li:hover:after {
      width: 0%; }

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.hero {
  width: 80%; }
  .hero h1 {
    font-size: 5.5vw;
    line-height: 9vw; }
    @media only screen and (min-width: 1000px) {
      .hero h1 {
        line-height: 7.5vw; } }
  @media only screen and (max-width: 768px) {
    .hero {
      width: 100%;
      padding: 0 4vw 0 4vw; }
      .hero h1 {
        font-size: 11vw;
        text-align: justify;
        line-height: 12.5vw; } }

@media only screen and (max-width: 768px) {
  #fp-nav {
    display: none; } }
